<!-- Topbar View  -->


<div class ='navbar'>
  <div class = 'navbar__tab'>
    <%= link_to 'Polls', '/polls' %>
  </div>

  <div class = 'navbar__tab'>
    <%= link_to 'New Poll', '/polls/new' %>
  </div>



</div>
