
<div class="optionForm">
     <%= label_tag "Option" %>
     <br>
     <%= text_field_tag "options[]" %>

     <button onclick="document.getElementById('poll_options').removeChild(this.parentNode);" class="remove-option" >X</button>
     <br><br><br>
</div>
