
<div class="optionForm field">
     <!-- <%= label_tag "Option" %> -->

     <%= text_field_tag "options[]", nil, required:true %>

     <button type='button' onclick="document.getElementById('poll_options').removeChild(this.parentNode);" class="remove" >X</button>

</div>
