
<div class="form__field form__field--row">
     <!-- <%= label_tag "Option" %> -->

     <%= text_field_tag "options[]", nil, required:true %>

     <button type='button' onclick="document.getElementById('poll_options').removeChild(this.parentNode);" class="btn btn--remove" >X</button>

</div>
