<p id="notice"><%= notice %></p>


<div style = 'display: flex'>
  <h1>Explore Polls</h1>

  <%= link_to new_poll_path do %>
    <button class = 'btn btn--new-poll'>
       <span> New Poll </span>
     </button>
  <% end %>
</div>

<div class = 'display-polls'>
  <% @polls.each do |poll| %>
    <%= link_to poll do %>
      <div class = 'display-polls__poll'>
        <span class = 'display-polls__poll-title'> <%= poll.title %> </span>
      </div>
    <% end %>
  <% end %>


</div>
