<p id="notice"><%= notice %></p>


<div style = 'display: flex'>
  <h1>Polls</h1>

  <%= link_to new_poll_path do %>
    <button id = 'newPoll'>
       <span> New Poll </span>
     </button>
  <% end %>
</div>

<div id = 'display-polls'>
  <% @polls.each do |poll| %>
    <%= link_to poll do %>
      <div class = 'poll'>
        <span> <%= poll.title %> </span>
      </div>
    <% end %>
  <% end %>


</div>
