<p id="notice"><%= notice %></p>

<h1>
  <%= @poll.title %>
</h1>




  <% if @poll.blind %>
    <p> (This poll is anonymous.) </p>
  <% else %>
    <p> (This poll is not anonymous.) </p>
  <% end %>

  <strong> Options: </strong>

  <% @poll.options.each do |option| %>
    <%= option.name %>
  <%end%>

  <button>Vote</button>
