/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
   background-color: #fff;
   color: #333;
   margin: 0;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 1em;
 }

 #container {
   margin-left: 100px;
   margin-top: 40px;
 }

 #topbar {
   color: #000;
   background-color: #fff;
   display: flex;
   width: 100%;
   height: 60px;
   margin: 0;
   box-shadow: 1px 2px 3px #333;
 }

.tab {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
}

.field {
  display: flex;
  width: 300px;
  margin: 20px;
  margin-bottom: 0;
  margin-left: 0px;
}

label {
  margin-right: 20px;
}

button {
  width: 150px;
  margin-top: 20px;
}


.actions input {
  width: 150px;
  padding: 4px;
  margin-top: 20px;
}

.form {
  background-color: #fff;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.remove {
  font-weight: bold;
  background-color: red;
  color: white;
  margin-left: 5px;
}

#addNewOption {
  width: 150px;
  padding: 4px;
  margin-top: 20px;

}

#newPoll {
  margin-left: 60px;
  margin-top: 35px;
  padding: 4px;
  width: 100px;
}

.poll {
  width: 300px;
  height: 300px;
  background-color: black;
  color: white;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
}

#poll_title {
  width: 400px;
}

#display-polls {
  display: flex;
  flex-wrap: wrap;
}


 .poll span {
  margin: auto;
  font-size: 1.5em;
}

 a {
   color: #000;
   text-decoration: none;
 }

 #notice {
   color: green;
 }

 .field_with_errors {
   padding: 2px;
   background-color: red;
   display: table;
 }

 #error_explanation {
   width: 450px;
   border: 2px solid red;
   padding: 7px 7px 0;
   margin-bottom: 20px;
   background-color: #f0f0f0;
